.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
}

.shiny-output-error-PFA {
  color: red;
}

.primary {
  color: #3c8dbc;
}

.brand-link {
  font-variant: small-caps;
}

.relative {
  position: relative;
}

.nav-tabs {
  background-color: #3c8dbc;
}

.nav-tabs-custom > .nav-tabs > li:not(.active) > a,
.nav-tabs-custom > .nav-tabs > li.header {
  color: white;
}

a.shiny-download-link, .dark-mode .shiny-download-link {
  color: white;
  background-color: rgb(0, 166, 90);
  border-color: rgb(0, 75, 20);
}

a.shiny-download-link:hover, .dark-mode .shiny-download-link:hover,
a.shiny-download-link:active, .dark-mode .shiny-download-link:active,
a.shiny-download-link:focus, .dark-mode .shiny-download-link:focus {
  color: white;
  background-color: rgb(0, 125, 40);
}

button.borrow-btn, .dark-mode button.borrow-btn {
  color: white;
  background-color: rgb(0, 166, 90);
  border-color: rgb(0, 75, 20);
  margin-bottom: 10px;
}

button.borrow-btn:hover, .dark-mode button.borrow-btn:hover,
button.borrow-btn:active, .dark-mode button.borrow-btn:active,
button.borrow-btn:focus, .dark-mode button.borrow-btn:focus {
  background-color: rgb(0, 125, 40);
  color: white;
}

button.return-btn, .dark-mode button.return-btn {
  color: white;
  background-color: rgb(221, 75, 57);
  border-color: rgb(100, 50, 30);
  margin-bottom: 10px;
}

button.return-btn:hover, .dark-mode button.return-btn:hover,
button.return-btn:active, .dark-mode button.return-btn:active,
button.return-btn:focus, .dark-mode button.return-btn:focus {
  background-color: rgb(185, 40, 20);
  color: white;
}

button.write-off-btn, .dark-mode button.write-off-btn {
  color: white;
  background-color: rgb(255, 133, 27);
  border-color: rgb(200, 95, 0);
  margin-bottom: 10px;
}

button.write-off-btn:hover, .dark-mode button.write-off-btn:hover,
button.write-off-btn:active, .dark-mode button.write-off-btn:active,
button.write-off-btn:focus, .dark-mode button.write-off-btn:focus {
  background-color: rgb(200, 95, 0);
  color: white;
}

.form-group.shiny-input-container {
  width: 100%;
}

.bg-lightgray {
  background-color: rgb(233, 236, 239);
}

.dark-mode .bg-lightgray {
  background-color: unset;
}

.bordered {
  padding: 5px;
  border-radius: 7.1px;
  border: 1px solid rgb(206, 212, 218);
  margin-bottom: 16px;
}

.dark-mode .bordered {
  border: 1px solid rgb(108, 117, 125);
}

ul {
  list-style: none;
}

.st-badges {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 6px 6px;
}

.st-badges::after {
  content: '';
  flex-grow: 1000000000;
}

.st-badges > .bordered {
  margin-bottom: 0;
}

.st-badge {
  white-space: nowrap;
  margin: 6px 6px 0 0;
  text-align: center;
  flex-grow: 1;
}

.dark-mode .st-badge {
  background-color: rgb(55, 59, 80);
}

.brand-link > .brand-image{
  box-shadow: unset !important;
  opacity: 1 !important;
}

.brand-link > .brand-text {
  color: white;
}

.brand-link {
  border-bottom: 1px solid rgb(75, 84, 92) !important;
}

.dark-mode .disabled input.form-control:disabled {
  background-color: rgb(55, 59, 80);
}

.dark-mode .form-control:focus {
  background-color: rgb(52, 58, 64);
  color: white;
}

ul[data-tabsetid] .nav-link.active:hover {
  color: white;
}

.navbar .dropdown {
  margin: 0 5px;
}

.github-link {
  margin-right: 5px;
}

.fa-github {
  color: black;
  transition: transform 0.5s ease;
}

.fa-github:hover, .dark-mode .fa-github:hover {
  color: #007bff;
  transform: scale(1.5);
}

.dark-mode .fa-github {
  color: white;
}

.modal-title {
  width: 100%;
}

.modal-title button {
  float: right;
}

.refresh-link {
  color: black;
}

.refresh-link:hover {
  color: #007bff;
}

.refresh-link i {
  animation: rotate 1.2s linear infinite;;
  animation-play-state: paused;
}

.refresh-link i:hover {
  animation-play-state: running;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.dark-mode .refresh-link {
  color: white;
}

.main-sidebar span.brand-text {
  transition:
    margin-left .3s linear,
    opacity .3s ease,
    visibility .3s ease,
    letter-spacing .5s ease;
}

.brand-text:hover {
  letter-spacing: 5px;
}

nav .nav-pills .nav-link:not(.active):hover,
[class*="sidebar-dark-"] nav .nav-treeview > .nav-item > .nav-link:hover,
[class*="sidebar-dark-"] nav .nav-treeview > .nav-item > .nav-link:focus {
  color: rgb(194, 199, 208);
}

.green {
  background-color: rgb(0, 166, 90);
}

.red {
  background-color: rgb(221, 75, 57)
}

.orange {
  background-color: rgb(255, 133, 27);
}

.color-box {
  width: 15px;
  height: 15px;
  margin: 0 3px;
}

.color-text {
  margin-right: 12px;
}

.color-boxes {
  margin-left: -3px;
}

.dropdown-flag {
  cursor: pointer;
}

.language-selector .dropdown-menu {
  min-width: 0;
}
