.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.shiny-output-error-PFA {
  color: red;
}

.primary {
  color: #3c8dbc;
}

.brand-link {
  font-variant: small-caps;
}

.relative {
  position: relative;
}

.nav-tabs {
  background-color: #3c8dbc;
}

.nav-tabs-custom > .nav-tabs > li:not(.active) > a,
.nav-tabs-custom > .nav-tabs > li.header {
  color: white;
}

.shiny-download-link, .dark-mode .shiny-download-link {
  color: white;
  background-color: rgb(0, 166, 90);
  border-color: rgb(0, 75, 20);
}

.shiny-download-link:hover, .dark-mode .shiny-download-link:hover
.shiny-download-link:active, .dark-mode .shiny-download-link:active
.shiny-download-link:focus, .dark-mode .shiny-download-link:focus {
  color: white;
  background-color: rgb(0, 125, 40);
}

.borrow-btn, .dark-mode .borrow-btn {
  color: white;
  background-color: rgb(0, 166, 90);
  border-color: rgb(0, 75, 20);
  margin-bottom: 10px;
}

.borrow-btn:hover, .dark-mode .borrow-btn:hover
.borrow-btn:active, .dark-mode .borrow-btn:active
.borrow-btn:focus, .dark-mode .borrow-btn:focus {
  background-color: rgb(0, 125, 40);
  color: white;
}

.return-btn, .dark-mode .return-btn {
  color: white;
  background-color: rgb(221, 75, 57);
  border-color: rgb(100, 50, 30);
}

.return-btn:hover, .dark-mode .return-btn:hover,
.return-btn:active, .dark-mode .return-btn:active,
.return-btn:focus, .dark-mode .return-btn:focus {
  background-color: rgb(185, 40, 20);
  color: white;
}

.form-group.shiny-input-container {
  width: 100%;
}

.bg-lightgray {
  background-color: rgb(233, 236, 239);
}

.dark-mode .bg-lightgray {
  background-color: unset;
}

.bordered {
  padding: 5px;
  border-radius: 7.1px;
  border: 1px solid rgb(206, 212, 218);
  margin-bottom: 16px;
}

.dark-mode .bordered {
  border: 1px solid rgb(108, 117, 125);
}

ul {
  list-style: none;
}

.st-badges {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0 6px 6px;
}

.st-badges::after {
  content: '';
  flex-grow: 1000000000;
}

.st-badges > .bordered {
  margin-bottom: 0;
}

.st-badge {
  white-space: nowrap;
  margin: 6px 6px 0 0;
  text-align: center;
  flex-grow: 1;
}

.dark-mode .st-badge {
  background-color: rgb(55, 59, 80);
}
